n8nbackups/fHE51hwca1U9dPFW.json
{
  "updatedAt": "2025-11-13T20:46:31.000Z",
  "createdAt": "2025-11-12T21:29:51.733Z",
  "id": "fHE51hwca1U9dPFW",
  "name": "PrixEssences",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.aral.de/fr_lu/luxembourg/home/carburants-et-prix/prix-actuels-des-carburants.html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -624,
        -448
      ],
      "id": "d2f875aa-2d21-4c18-b691-5faab6052c5a",
      "name": "HTTP Request Aral"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        -336
      ],
      "id": "da6878c9-7a6b-4990-b0ae-945b2591f503",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "prices",
              "cssSelector": ".nr-table-component tr td:nth-child(2)",
              "returnArray": true
            },
            {
              "key": "name",
              "cssSelector": ".nr-table-component tr td:nth-child(1)",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -368,
        -448
      ],
      "id": "88dcbea9-4647-427f-8620-f884d995d86f",
      "name": "HTML"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1264,
        -352
      ],
      "id": "0af3d206-9051-4462-b81c-dd3dcb172163",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -160,
        80
      ],
      "id": "16fca884-5414-483e-9eb5-374109091692",
      "name": "Stop and Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -960,
        -352
      ],
      "id": "112e21e3-cde9-4134-b192-3008b2167197",
      "name": "Starter"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "wX9msUMUQxknuOuS",
          "mode": "list",
          "cachedResultName": "GAZ_PRICE",
          "cachedResultUrl": "/projects/FydFnKWhhgJ81Gd1/datatables/wX9msUMUQxknuOuS"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "day",
              "keyValue": "={{ $('formattedTodayDate').item.json.formattedTodayDate }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        144,
        -112
      ],
      "id": "982a8ad7-f613-42ea-91f4-a00950a232f8",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.timestamp }}",
        "outputFieldName": "formattedTodayDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -640,
        -208
      ],
      "id": "d15bc9f4-6e2a-4186-9644-f7cf570b620e",
      "name": "formattedTodayDate"
    },
    {
      "parameters": {
        "jsCode": "// Input data from previous node\nconst data = items[0].json;\n\n// Find index of \"Diesel*\"\nconst dieselIndex = data.name.indexOf(\"Diesel*\");\n\n// Get the corresponding price\nconst dieselPrice = dieselIndex !== -1 ? data.prices[dieselIndex] : null;\n\n// Return as new item\nreturn [\n  {\n    json: {\n      fuel: \"Diesel*\",\n      price: dieselPrice\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -336
      ],
      "id": "551edea1-9e73-4756-b78a-24dc58b09c3b",
      "name": "ExtractPrice"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        -224
      ],
      "id": "37d82532-d116-4ea6-a47e-0681be62148e",
      "name": "Merge1"
    }
  ],
  "connections": {
    "HTTP Request Aral": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "ExtractPrice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Starter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Starter": {
      "main": [
        [
          {
            "node": "HTTP Request Aral",
            "type": "main",
            "index": 0
          },
          {
            "node": "formattedTodayDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formattedTodayDate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractPrice": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cd4e5690-76b6-4509-8309-ed7ec5b7c395",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-12T21:29:51.738Z",
      "createdAt": "2025-11-12T21:29:51.738Z",
      "role": "workflow:owner",
      "workflowId": "fHE51hwca1U9dPFW",
      "projectId": "FydFnKWhhgJ81Gd1"
    }
  ],
  "tags": []
}