n8nbackups/fHE51hwca1U9dPFW.json
{
  "updatedAt": "2025-11-13T21:31:25.000Z",
  "createdAt": "2025-11-12T21:29:51.733Z",
  "id": "fHE51hwca1U9dPFW",
  "name": "PrixEssences",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Get row(s)1').first().json.price }}",
              "operation": "notEqual",
              "value2": "={{ $json.price }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2672,
        -64
      ],
      "id": "9cc17928-bff3-46d9-9094-e546a9299b06",
      "name": "Price Changed?"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "prices",
              "cssSelector": ".nr-table-component tr td:nth-child(2)",
              "returnArray": true
            },
            {
              "key": "name",
              "cssSelector": ".nr-table-component tr td:nth-child(1)",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1760,
        -80
      ],
      "id": "a61fd07f-799f-420f-b3a8-34f0fb2747be",
      "name": "HTML1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        736,
        -80
      ],
      "id": "6a3499d7-62c5-4a07-88df-e7b9add10ef3",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "wX9msUMUQxknuOuS",
          "mode": "list",
          "cachedResultName": "GAZ_PRICE",
          "cachedResultUrl": "/projects/FydFnKWhhgJ81Gd1/datatables/wX9msUMUQxknuOuS"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "=1"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2240,
        48
      ],
      "id": "23e37332-cf3e-4758-b925-030e45ed4a03",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "jsCode": "// Input data from previous node\nconst data = items[0].json;\n\n// Find index of \"Diesel*\"\nconst dieselIndex = data.name.indexOf(\"Diesel*\");\n\n// Get the corresponding price\nconst dieselPrice = dieselIndex !== -1 ? data.prices[dieselIndex] : null;\n\n// Return as new item\nreturn [\n  {\n    json: {\n      fuel: \"Diesel*\",\n      price: dieselPrice\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        -176
      ],
      "id": "ab20ff1b-b1b1-4064-8ac2-c2dc492cf997",
      "name": "ExtractPrice1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2480,
        -64
      ],
      "id": "61be90ec-d73d-427f-845e-07e611f0e423",
      "name": "Merge3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1216,
        -80
      ],
      "id": "a42af4a3-0a34-47ad-a804-9df9f99bd2ce",
      "name": "Starter"
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"N8N_EMAIL_NOTIFIER_URL\": \"https://script.google.com/macros/s/AKfycby414GgDeIKkZzLF0fbNDspkQQkL7Lxmx9Q7k5rdJZM0IqRW1bd7LesKMTsuw9hecqaFA/exec\",\n  \"N8N_EMAIL_NOTIFIER_KEY\": \"yEo4vinaMoRgZQcfyBhlIjLvrVgfcgjQXAWd0Y6ZnYMJeXbGJf\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -80
      ],
      "id": "a39787ca-ed60-4ef8-b1f1-96697a6399d7",
      "name": "SetVariables"
    },
    {
      "parameters": {
        "url": "={{ $('SetVariables').item.json.N8N_EMAIL_NOTIFIER_URL }}",
        "responseFormat": "string",
        "jsonParameters": true,
        "options": {},
        "queryParametersJson": "={\n  \"key\": \"{{ $('SetVariables').item.json.N8N_EMAIL_NOTIFIER_KEY }}\",\n  \"mode\": \"free\",\n  \"subject\": \"Nez gaz price\",\n  \"message\": \"New of {{ $('Merge3').item.json.fuel }} price is {{ $('ExtractPrice1').item.json.price }}\"\n}"
      },
      "id": "2812ceb1-41b3-4bc8-84d8-9d3adac28e8b",
      "name": "Send to Google Apps Script1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2880,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "wX9msUMUQxknuOuS",
          "mode": "list",
          "cachedResultName": "GAZ_PRICE",
          "cachedResultUrl": "/projects/FydFnKWhhgJ81Gd1/datatables/wX9msUMUQxknuOuS"
        },
        "filters": {
          "conditions": [
            {}
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "price": "={{ $('Price Changed?').item.json.price }}"
          },
          "matchingColumns": [
            "price"
          ],
          "schema": [
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3104,
        -208
      ],
      "id": "180a59a5-1710-4075-90bb-8106af316818",
      "name": "Update row(s)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2896,
        128
      ],
      "id": "7713fdd2-2fec-4052-99d1-48e077e73640",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "url": "=https://www.aral.de/fr_lu/luxembourg/home/carburants-et-prix/prix-actuels-des-carburants.html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1488,
        -80
      ],
      "id": "40830054-3932-420a-88ae-cdc266a8095d",
      "name": "HTTP Request Ara1"
    }
  ],
  "connections": {
    "HTML1": {
      "main": [
        [
          {
            "node": "ExtractPrice1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "SetVariables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ExtractPrice1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Starter": {
      "main": [
        [
          {
            "node": "HTTP Request Ara1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Changed?": {
      "main": [
        [
          {
            "node": "Send to Google Apps Script1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Price Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetVariables": {
      "main": [
        [
          {
            "node": "Starter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Google Apps Script1": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)1": {
      "main": [
        []
      ]
    },
    "HTTP Request Ara1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "atpkJzfdfrnNQXE4"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d30361f2-8079-4dad-807a-832fa67746e4",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-12T21:29:51.738Z",
      "createdAt": "2025-11-12T21:29:51.738Z",
      "role": "workflow:owner",
      "workflowId": "fHE51hwca1U9dPFW",
      "projectId": "FydFnKWhhgJ81Gd1"
    }
  ],
  "tags": []
}