n8nbackups/global-error-notifier-.json
{
  "updatedAt": "2025-11-13T20:00:18.000Z",
  "createdAt": "2025-11-13T19:44:19.966Z",
  "id": "atpkJzfdfrnNQXE4",
  "name": "Global Error Notifier",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "de08ca3a-4be6-44e4-b05b-011e533a96fb",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"N8N_EMAIL_NOTIFIER_URL\": \"https://script.google.com/macros/s/AKfycby414GgDeIKkZzLF0fbNDspkQQkL7Lxmx9Q7k5rdJZM0IqRW1bd7LesKMTsuw9hecqaFA/exec\",\n  \"N8N_EMAIL_NOTIFIER_KEY\": \"yEo4vinaMoRgZQcfyBhlIjLvrVgfcgjQXAWd0Y6ZnYMJeXbGJf\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        0
      ],
      "id": "d5bb5621-582a-4767-898a-30ccad9d064b",
      "name": "SetVariables"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "bf1f9801-00ed-4b50-82c2-d1c090f11a61",
      "name": "END"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $json.N8N_EMAIL_NOTIFIER_URL }}",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify($('Error Trigger').item.json) }}",
        "queryParametersJson": "={\n  \"key\": \"{{ $json.N8N_EMAIL_NOTIFIER_KEY }}\",\n  \"mode\": \"error\"\n}"
      },
      "id": "f088020d-8eeb-417c-9641-823ef5ef22ee",
      "name": "Send to Google Apps Script1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        256,
        0
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "SetVariables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetVariables": {
      "main": [
        [
          {
            "node": "Send to Google Apps Script1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Google Apps Script1": {
      "main": [
        [
          {
            "node": "END",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "049f73bc-869e-4dfb-ab10-93b2b5c9eddc",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-13T19:44:19.972Z",
      "createdAt": "2025-11-13T19:44:19.972Z",
      "role": "workflow:owner",
      "workflowId": "atpkJzfdfrnNQXE4",
      "projectId": "FydFnKWhhgJ81Gd1"
    }
  ],
  "tags": []
}