n8nbackups/W5MahKKm6S2DYL9P.json
{
  "updatedAt": "2025-11-22T11:33:57.000Z",
  "createdAt": "2025-11-22T10:12:18.222Z",
  "id": "W5MahKKm6S2DYL9P",
  "name": "Spotify waiting organizer",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2416,
        80
      ],
      "id": "e841d885-503e-412d-b9f5-e1006fc10d9d",
      "name": "Start click"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2176,
        -48
      ],
      "id": "eff62c29-9308-4fae-ba51-0d34afe9013b",
      "name": "ENTRY"
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "get",
        "id": "0HI5Nyc9CwUtACfolnbSOH"
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        -288,
        -48
      ],
      "id": "c6815a00-7f41-4292-a354-934864757e98",
      "name": "Finding Waiting to listen Playlist",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "atSGLwt1ahOg07yl",
          "name": "Spotify account Flo"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getTracks",
        "id": "={{ $json.uri }}",
        "limit": "={{ $('SetVariables').item.json.LIMIT_OF_PLAYLIST }}"
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        -64,
        -48
      ],
      "id": "4a809de8-a9db-47ea-80cb-cf3494679a35",
      "name": "Get all waiting songs",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "atSGLwt1ahOg07yl",
          "name": "Spotify account Flo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"COUNTRY\": \"FR\",\n  \"LIMIT_OF_PLAYLIST\": 10,\n  \"PLAYLIST_PREFIX\": \"N8N - \",\n  \"CONSIDERED_BIG_ALBUM_LIMIT\": 5\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1952,
        -48
      ],
      "id": "a7fd9385-5a20-4e6b-bb73-3f3510d810a3",
      "name": "SetVariables"
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "create",
        "name": "={{ $('SetVariables').item.json.PLAYLIST_PREFIX }}{{ $json.track.album.artists[0].name }} - {{ $json.track.album.name }}",
        "additionalFields": {
          "description": "Automatic",
          "public": "={{ false }}"
        }
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        368,
        160
      ],
      "id": "6b59980d-e564-45f2-ad4a-df750e3981b9",
      "name": "Create a playlist",
      "executeOnce": false,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "atSGLwt1ahOg07yl",
          "name": "Spotify account Flo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6b3cde13-8d50-497d-9957-300dc0950168",
              "leftValue": "={{ $json.tracks.total }}",
              "rightValue": "={{ $('SetVariables').item.json.CONSIDERED_BIG_ALBUM_LIMIT }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        160
      ],
      "id": "b90d7e27-b9e2-4f4f-9a85-03295fe4540c",
      "name": "Is Big Album ?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        -48
      ],
      "id": "dfc80ebd-8c46-42f6-8206-941e70221bf6",
      "name": "Loop Over Waitings"
    },
    {
      "parameters": {
        "resource": "album",
        "id": "={{ $('Loop Over Waitings').item.json.track.album.id }}"
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        528,
        160
      ],
      "id": "e5da0639-b17c-4e57-acb0-d8e0bc3e0ce8",
      "name": "Album to add",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "atSGLwt1ahOg07yl",
          "name": "Spotify account Flo"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "tracks.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1136,
        96
      ],
      "id": "c4428fe6-4fec-4514-924a-4d847de70e67",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "playlist",
        "id": "={{ $('Create a playlist').item.json.uri }}",
        "trackID": "={{ $json.uri }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1408,
        160
      ],
      "id": "e5043362-c55a-48e9-a052-021c9f54196a",
      "name": "Add an Item to new playlist",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "atSGLwt1ahOg07yl",
          "name": "Spotify account Flo"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        656,
        -272
      ],
      "id": "56cb12ec-8df5-4f71-a55a-fcd3a4cb1b47",
      "name": "END"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "END LOOP",
      "typeVersion": 1,
      "position": [
        1776,
        416
      ],
      "id": "4f8a98fd-6252-4e89-a601-9b8cdb66189d"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1600,
        160
      ],
      "id": "c946b7cc-43de-41a2-bde1-6c886be9c20d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "resource": "artist",
        "operation": "getTopTracks",
        "id": "={{ $json.artists[0].uri }}",
        "country": "={{ $('SetVariables').item.json.COUNTRY }}"
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1136,
        256
      ],
      "id": "83a2074c-1877-42cb-b409-6b10f1e31466",
      "name": "Get an artist tops",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "atSGLwt1ahOg07yl",
          "name": "Spotify account Flo"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getUserPlaylists",
        "returnAll": true
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        -1472,
        -48
      ],
      "id": "ca9b35e5-d6f5-422b-a972-4753b8dafb1c",
      "name": "Get User Playlist",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "atSGLwt1ahOg07yl",
          "name": "Spotify account Flo"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -1040,
        -48
      ],
      "id": "6510cbce-e4d7-48d5-87cc-8e2171f2e7dc",
      "name": "Remove Duplicates",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "954f8e7d-ebc8-4d0e-8da6-ecba364d0f99",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('SetVariables').item.json.PLAYLIST_PREFIX }}",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1248,
        -48
      ],
      "id": "97a52908-6f5f-4a94-9caf-c97cbf176956",
      "name": "Keep n8n playlist",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.spotify.com/v1/playlists/{{ $json.id }}/followers",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -816,
        -48
      ],
      "id": "14d542e8-0c42-4eb9-96de-6b7fe5e1fdd2",
      "name": "Delete n8n playlist",
      "alwaysOutputData": true,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "atSGLwt1ahOg07yl",
          "name": "Spotify account Flo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# DELETE OLD SPOTIFY PLAYLIST",
        "height": 1056,
        "width": 1184,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        -400
      ],
      "typeVersion": 1,
      "id": "dfb7f695-cea8-44ad-8427-e3e6bc512bbe",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# FINDING MUSIC TO LISTEN",
        "height": 1056,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -400
      ],
      "typeVersion": 1,
      "id": "7efd24e5-6d52-4560-9618-6922eeabbf8d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# CREATING AND ADDING PLAYLIST",
        "height": 1056,
        "width": 1824,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -400
      ],
      "typeVersion": 1,
      "id": "5d7a280a-9fd3-43d2-aab6-e8e92605afef",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -608,
        -48
      ],
      "id": "65ac0a4e-842e-4d90-8e06-271865c178cf",
      "name": "Aggregate deletion"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2400,
        -192
      ],
      "id": "2a660921-2e14-4961-b3b3-8418837ebedd",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Start click": {
      "main": [
        [
          {
            "node": "ENTRY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENTRY": {
      "main": [
        [
          {
            "node": "SetVariables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finding Waiting to listen Playlist": {
      "main": [
        [
          {
            "node": "Get all waiting songs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetVariables": {
      "main": [
        [
          {
            "node": "Get User Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all waiting songs": {
      "main": [
        [
          {
            "node": "Loop Over Waitings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a playlist": {
      "main": [
        [
          {
            "node": "Album to add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Big Album ?": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an artist tops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Waitings": {
      "main": [
        [
          {
            "node": "END",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Album to add": {
      "main": [
        [
          {
            "node": "Is Big Album ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Add an Item to new playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add an Item to new playlist": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "END LOOP": {
      "main": [
        [
          {
            "node": "Loop Over Waitings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "END LOOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an artist tops": {
      "main": [
        [
          {
            "node": "Add an Item to new playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Playlist": {
      "main": [
        [
          {
            "node": "Keep n8n playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep n8n playlist": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Delete n8n playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete n8n playlist": {
      "main": [
        [
          {
            "node": "Aggregate deletion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate deletion": {
      "main": [
        [
          {
            "node": "Finding Waiting to listen Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "ENTRY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c7708c12-45e9-4343-9d88-da00c3c985da",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-22T10:12:18.225Z",
      "createdAt": "2025-11-22T10:12:18.225Z",
      "role": "workflow:owner",
      "workflowId": "W5MahKKm6S2DYL9P",
      "projectId": "jJglMvx4o4FjoktY"
    }
  ],
  "tags": []
}